# Core
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3
pydantic-settings==2.1.0

# Database
sqlalchemy[asyncio]==2.0.25
asyncpg==0.29.0
psycopg2-binary==2.9.9
pgvector==0.2.4

# AI Services
anthropic>=0.43.0
openai>=1.50.0

# Utils
python-multipart==0.0.6
python-dotenv==1.0.0
numpy>=1.26.0
